#!/usr/bin/env bash

dotenv_if_exists || direnv status # https://direnv.net/man/direnv-stdlib.1.html

if [[ $(type -t lorri) == file ]]; then
    echo "direnv: using lorri from PATH ($(type -p lorri))"
    eval "$(lorri direnv)"
elif [[ $(type -t use_flake) == function ]]; then
    use flake
else
    echo "ERROR: use_flake function missing."
    echo "Please update direnv to v2.30.0 or later."
    exit 1
fi

source_env_if_exists .envrc.private

# Watch & reload direnv on change
watch_file .envrc .envrc.private devshells/* actions/* flake.nix flake.lock
